.inputFile{
    width: 100%;
    margin-bottom: 10px;
}

.buttonUpload{
    width: 130px;
    height: 40px;
    background-color: rgb(91, 105, 194);
    border: 2px solid ;
    color: white;
    border-radius: 20px;
    margin-bottom: 10px;

    &:hover{
        background-color: rgb(58, 70, 151);
    }
}